<h2>Consulta de Alumno</h2>

<app-alumnobuscar (xnombre)="buscarAlumno($event)" (xnofolio)="buscarAlumno($event)"></app-alumnobuscar>
<hr>

<ng-container>
  <div class="container">
    <form [formGroup]="form">
      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Nombre(s)</mat-label>
          <input formControlName="nombreAlumno" matInput [readonly]="true" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Apellido Paterno</mat-label>
          <input formControlName="apellidoPaterno" matInput [readonly]="true" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Apellido Materno</mat-label>
          <input formControlName="apellidoMaterno" matInput [readonly]="true" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Sexo</mat-label>
          <input formControlName="sexo" matInput [readonly]="true" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Nivel</mat-label>
          <input formControlName="nivel" matInput [readonly]="true" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Grado</mat-label>
          <input formControlName="grado" matInput [readonly]="true" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Grupo</mat-label>
          <input formControlName="grupo" matInput [readonly]="true" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Turno</mat-label>
          <input formControlName="turno" matInput [readonly]="true" />
        </mat-form-field>

      </div>
      <hr>
      <div class="row">

        <mat-form-field appearance="outline">
          <mat-label>Estado Alumno</mat-label>
          <input formControlName="estadoAlumno" matInput [readonly]="true" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Fecha Nacimiento</mat-label>
          <input formControlName="fechaNacimiento" matInput [readonly]="true" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Tipo de Sangre</mat-label>
          <input formControlName="tipoSangre" matInput [readonly]="true" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Enfermedad?</mat-label>
          <input formControlName="enfermedad" matInput [readonly]="true" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>CURP</mat-label>
          <input formControlName="curp" matInput [readonly]="true" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input formControlName="email" matInput [readonly]="true" />
        </mat-form-field>

        <div class="checbox">
          <mat-checkbox onclick="return false;" formControlName="becaGobierno">Gobierno</mat-checkbox>
        </div>

        <mat-form-field appearance="outline">
          <mat-label>Tel. Celular</mat-label>
          <input formControlName="telCelular" matInput [readonly]="true" />
        </mat-form-field>

      </div>

      <hr>

      <div class="row">

        <mat-form-field appearance="outline">
          <mat-label>Telefono</mat-label>
          <input formControlName="telefono" matInput [readonly]="true" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Calle</mat-label>
          <input formControlName="calle" matInput [readonly]="true" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Colonia</mat-label>
          <input formControlName="colonia" matInput [readonly]="true" />
        </mat-form-field>

      </div>
      <hr>

      <table #familiaresTable mat-table [dataSource]="listaFamiliares" class="mat-elevation-z8 tabla-general">

        <ng-container matColumnDef="nombreFamiliar">
          <th mat-header-cell *matHeaderCellDef>Nombre</th>
          <td mat-cell *matCellDef="let element">{{element.nombreFamiliar}}</td>
        </ng-container>

        <ng-container matColumnDef="familiar">
          <th mat-header-cell *matHeaderCellDef>Relacion</th>
          <td mat-cell *matCellDef="let element">{{element.familiar}}</td>
        </ng-container>

        <ng-container matColumnDef="telefono">
          <th mat-header-cell *matHeaderCellDef>Telefono</th>
          <td mat-cell *matCellDef="let element">{{element.telefono}}</td>
        </ng-container>

        <ng-container matColumnDef="trabajo">
          <th mat-header-cell *matHeaderCellDef>Trabajo</th>
          <td mat-cell *matCellDef="let element">{{element.trabajo}}</td>
        </ng-container>

        <ng-container matColumnDef="tutor">
          <th mat-header-cell *matHeaderCellDef>Es Tutor</th>
          <td mat-cell *matCellDef="let element">{{element.tutor}}</td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="columnas"></tr>
        <tr mat-row *matRowDef="let row; columns: columnas"></tr>
      </table>

      <hr>

      <div class="row">
        <mat-form-field class="txtAreas" appearance="outline">
          <mat-label>Datos Adicionales</mat-label>
          <textarea formControlName="datosAdicionales" [rows]="7" matInput [readonly]="true"></textarea>
        </mat-form-field>
      </div>

      <div class="controles">
        <button mat-flat-button color="primary" type="submit">
          Ver Pagos
        </button>
        <button mat-flat-button color="primary" type="submit">
          Ver Historial
        </button>
        <button mat-flat-button color="primary" type="submit">
          Recibos Pagos
        </button>
      </div>


    </form>



  </div>
</ng-container>
